.wrapper-seccion {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  padding-left: 60px;
  padding-right: 60px;
}

.titulo-seccion {
  margin: 2%;
  color: $color-primary;
  margin-left: 10px;
  margin-right: 5px;
}

.col {
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-primary (0, 0, 0, 0.125);
    border-radius: 0.25rem;
    .card-img-top {
      object-fit: cover;
      width: 100%;
    }
    img {
      vertical-align: middle;
      border-style: none;
    }

    .card-body {
      padding: 10px 20px;
    }

    .card-title {
      color: $color-primary;
    }

    .card-footer {
      text-align: center;
      a {
        color: $color-secundary;
        text-decoration: none;
        text-align: center;

        &:hover {
          color: $color-primary;
        }
      }
      p {
        text-align: center;
        span {
          color: $color-primary;
        }
      }
    }
  }
}
