.footer {
  display: block;
}

.lightText {
  color: #747678;
}

.primerfooter {
  padding: 50px;
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;


  .como-llegar {
    text-align: center;
    .titulo-seccion {
      margin-left: 20px;
      h2 {
        font-family: $font-primary;
      }
    }
    .locacion {
      p {
        font-family: $font-secundary;
      }
      a {
        color: $color-secundary;
        text-decoration: none;
        text-align: center;

        :hover {
          color: $color-primary;
        }
      }
    }
  }

  .entradas {
    .titulo-seccion {
      h2 {
        font-family: $font-primary;
      }
    }
    .precios {
      font-family: $font-secundary;
    }
  }
}

.segundoFooter {
  background-color: #010101;
  padding-top: 100px;
  padding-bottom: 80px;

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

.container-footer {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;

  .justify-content-start {
    justify-content: flex-start;

    .col-sm-3 {
      margin-bottom: 20px;
      padding-right: 15px;
      padding-left: 15px;

      h4 {
        color: $color-primary;
        font-family: $font-primary;
      }
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-sm-4 {
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;

    h4 {
      color: $color-primary;
      font-family: $font-primary;
    }

    .redes {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      a {
        height: 20px;
        margin: 10px;
        margin-right: 5px;
        vertical-align: baseline;
        color: $color-primary;
      }
    }
  }
}
