.lightText {
  color: #747678;
}

.primerfooter {
  padding: 50px;
  display: block;

  .como-llegar {
    text-align: center;
    .titulo-seccion {
      margin-left: 20px;
    }
    .locacion {
      a {
        color: $color-secundary;
        text-decoration: none;
        text-align: center;

        :hover {
          color: $color-primary;
        }
      }
    }
  }
}

.container {
  width: 100%;
}

.segundoFooter {
  margin-right: 70px;
  margin-left: 70px;
  justify-content: center;
  align-items: center;
  .container-footer {
    width: 100%;
    margin: 5%;
    flex-wrap: wrap;

    .justify-content-start {
      justify-content: flex-start;

      .redes {
        display: inline-block;
        vertical-align: baseline;
        margin-left: 8px;
        margin: 10px;
        a {
          padding: 10px;
        }
        i {
          color: $color-primary;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
