.lightText {
  color: #747678;
}

.primerfooter {
  padding: 50px;
  display: block;

  .como-llegar {
    text-align: center;
    .titulo-seccion {
      margin-left: 20px;
    }
    .locacion {
      a {
        color: $color-secundary;
        text-decoration: none;
        text-align: center;

        :hover {
          color: $color-primary;
        }
      }
    }
  }
}

.segundoFooter {
  background-color: #010101;
  color: #999697;
  padding-top: 20px;
}
