header {
  width: 100%;

  img {
    margin: 10px;
    border-radius: 50%;
  }

  a {
    text-decoration: none;
    color: $color-primary;
  }

  .nav-item {
    padding: 20px;
    .nav-link {
      color: $color-primary;
      &:hover {
        color: $color-secundary;
      }
    }
  }
}
