.seccion-historia {
  padding: 50px;
  .container-historia {
    width: 100%;
    h1 {
      color: $color-primary;
      font-weight: bolder;
      text-align: left;
    }

    .historia-texto {
      margin-left: 10px;
      margin-right: 100px;
      text-align: left;

      a {
        color: $color-secundary;
        text-decoration: none;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}

.img-portada {
  overflow: hidden;
  height: 300px;
}

.img-portada img {
  vertical-align: middle;
  border-style: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

.container-historia {
  span {
    color: $color-secundary;
  }
  a {
    color: $color-secundary;

    :hover {
      color: $color-primary;
    }
  }
}
