.container-historia {
  width: 100%;
}

.seccion-historia {
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.img-portada {
  overflow: hidden;
  height: 300px;
}

.img-portada img {
  vertical-align: middle;
  border-style: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

.container-historia {
  span {
    color: $color-secundary;
  }
  a {
    color: $color-secundary;

    :hover {
      color: $color-primary;
    }
  }
}
