.seccion-historia {
  padding: 50px;
  padding-top: 60px;
  padding-bottom: 60px;
  .container-historia {
    width: 100%;
    h1 {
      font-weight: bolder;
      text-align: left;
      font-family: $font-primary;
    }

    .historia-texto {
      margin-left: 10px;
      margin-right: 100px;
      text-align: left;
      p {
        font-family: $font-secundary;
      }
      a {
        color: $color-secundary;
        text-decoration: none;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}

.img-portada {
  overflow: hidden;
  height: 50%;

  #imghistoria {
    height: 100%;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }
}

.container-historia {
  span {
    color: $color-secundary;
  }
  a {
    color: $color-secundary;

    :hover {
      color: $color-primary;
    }
  }
}
