
$color-primary:#dbedf3;
$color-secundary:#f37066;

$font-primary: Josefin Sans;
$font-secundary: Quicksand;


@import "base";

@import "header";

@import "cartelera";

@import "footer";

@import "historia";

@import "pelis";